{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Prediction Form</h1>
<form id="prediction-form" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Predict</button>
</form>

<!-- Modal -->
<div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultModalLabel">Prediction Result</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="prediction-result"></p>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#prediction-form').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '',
                data: $(this).serialize(),
                success: function(response) {
                    $('#prediction-result').text('Prediction: ' + response.prediction);
                    $('#resultModal').modal('show');
                }
            });
        });
    });
</script>
{% endblock %}
